Capstone project

In [33]:
import pandas as pd
import numpy as np
print( 'Hello Capstone Project Course!')

Hello Capstone Project Course!

Segmenting and Clustering Neighborhoods in Toronto:Part 1

In [ ]:
import requests
import lxml.html as lh

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # import numpy as npuncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: /

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [3]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
#tr_elements = doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighbourhood
"

In [5]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j]
    if len(T)!=3:
        break
    i = 0
    for t in T.iterchildren():
        data=t.text_content() 
       
        if i>0:
        
            try:
                data=int(data)
            except:
                pass
        
        col[i][1].append(data)
      
        i+=1

In [6]:
[len(C) for (title,C) in col]

[181, 181, 181]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df=df.drop(180)
df.tail()

,Postal Code,Borough,Neighbourhood
175,M5Z\n,Not assigned\n,Not assigned\n
176,M6Z\n,Not assigned\n,Not assigned\n
177,M7Z\n,Not assigned\n,Not assigned\n
178,M8Z\n,Etobicoke\n,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z\n,Not assigned\n,Not assigned\n

In [8]:
df = df.replace('\n',' ', regex=True)

df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode            Borough                                 Neighbourhood
0     M1A       Not assigned                                  Not assigned
1     M2A       Not assigned                                  Not assigned
2     M3A         North York                                     Parkwoods
3     M4A         North York                              Victoria Village
4     M5A   Downtown Toronto                     Regent Park, Harbourfront
5     M6A         North York              Lawrence Manor, Lawrence Heights
6     M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government
7     M8A       Not assigned                                  Not assigned
8     M9A          Etobicoke       Islington Avenue, Humber Valley Village
9     M1B        Scarborough                                Malvern, Rouge

In [27]:
df.drop(df.index[df['Borough'] == 'Not assigned '], inplace = True)
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df['Neighbourhood'] = df['Neighbourhood'].str.strip()
df['Postcode'] = df['Postcode'].str.strip()
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']
df = df.reset_index(drop=True)

df.tail(10)

    Postcode      Borough                                      Neighbourhood
93       M9A   Etobicoke             Islington Avenue, Humber Valley Village
94       M9B   Etobicoke   West Deane Park, Princess Gardens, Martin Grov...
95       M9C   Etobicoke   Eringate, Bloordale Gardens, Old Burnhamthorpe...
96       M9L  North York                                       Humber Summit
97       M9M  North York                                    Humberlea, Emery
98       M9N        York                                              Weston
99       M9P   Etobicoke                                           Westmount
100      M9R   Etobicoke   Kingsview Village, St. Phillips, Martin Grove ...
101      M9V   Etobicoke   South Steeles, Silverstone, Humbergate, Jamest...
102      M9W   Etobicoke                 Northwest, West Humber - Clairville

In [10]:
df.shape

(103, 3)

In [11]:
df.to_csv(r'df_can.csv')

Segmenting and Clustering Neighborhoods in Toronto:part 2

In [12]:
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
df1.columns = ['Postcode', 'Lattitude', 'Longitude']
df1.head()

  Postcode  Lattitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [28]:
df_new = pd.merge(df, df1, on= 'Postcode')
df_new.head(5)

,Postcode,Borough,Neighbourhood,Lattitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [29]:
df_new.to_csv(r'df_final.csv')

Segmenting and Clustering Neighborhoods in Toronto:part 3